extends layout

block content
  h1= title
  p Welcome to #{title}
  p#msg #{msg}
  table(border='1')
    tr
      th id
      th name
      th mail
      th tel
    - each data in datas
      tr
        td
         a(href='/edit/#{data.id}') #{data.id}
        td= data.id
        td= data.name
        td= data.mail
        td= data.tel